{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dashboard</title>

<link rel="stylesheet"
href="{% static 'css/dashboard.css' %}">

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
rel="stylesheet">

</head>

<body>

<div class="sidebar">

<h2>

🔒 TrustLock

</h2>

<ul>

<li class="active">

Dashboard

</li>

<li>

Projects

</li>

<li>

Escrows

</li>

<li>

Disputes

</li>

<li>

Wallet

</li>

<li>

Settings

</li>

</ul>

</div>

<div class="main">

<div class="topbar">

<h2>

Welcome Back 👋

</h2>

<button>

Create Project

</button>

</div>

<div class="cards">

<div class="card">

<h3>

Projects

</h3>

<h1>

12

</h1>

</div>

<div class="card">

<h3>

Locked Funds

</h3>

<h1>

₹42K

</h1>

</div>

<div class="card">

<h3>

Completed

</h3>

<h1>

18

</h1>

</div>

</div>

<div class="table-card">

<h2>

Recent Projects

</h2>

<table>

<tr>

<th>

Project

</th>

<th>

Budget

</th>

<th>

Status

</th>

</tr>

<tr>

<td>

UI Design

</td>

<td>

₹5000

</td>

<td>

Locked

</td>

</tr>

<tr>

<td>

Landing Page

</td>

<td>

₹7000

</td>

<td>

Completed

</td>

</tr>

<tr>

<td>

React Dashboard

</td>

<td>

₹12000

</td>

<td>

Pending

</td>

</tr>

</table>

</div>

</div>

</body>

</html>